<!DOCTYPE html>
<html>
  <head>
    <title>Toko Admin</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Toko Admin</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/pembelian">Input Pembelian</a>
        <a href="/stock">Input stock</a>
      </nav>
    </header>

    <main><%- body %></main>
  </body>
</html>
